<!-- {%- from "templates/print_formats/standard_macros.html" import add_header -%}
<div style="direction: ltr !important;margin-top: 0%;">
    <div id="header-html" class="hidden-pdf">
        <img src="/assets/dynamic/images/hm_header.jpg" />
    </div>
    <div id="header-html" class="hidden-pdf margin-bottom" style="margin-top: 2%;">
        <div class="print-heading center" style="text-align: center;">
            <h4>

                <div>INVOICE SALES فاتورة مبيعات</div>
            </h4>
        </div>
    </div>

</div> -->

<div class="container-fluid">
    <!-- header -->
    <div class="row mt-3">
        <div class="col-sm-6 col-xs-6 mt-1" style="">
            
        </div>
        <div class="col-sm-6 col-xs-6 " style="text-align: left;">
            <img src="/assets/dynamic/images/reach.jpeg"  height="80" width="200"/>
        </div>
    </div>
    <!-- end heade  -->
    <div class="row mt-3">
        <div class="col-sm-12 col-xs-12 mt-3" style="text-align: center;"><strong>{{_("مرتجع")}} ({{doc.name}})</strong>  </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-3 col-xs-3 mt-1" style="text-align: center;">  {{_("تاريخ الفاتوره")}}: </div>
        <div class="col-sm-3 col-xs-3  mt-1" style="text-align: center;">
         {{ doc.posting_date }}
        </div>
      
        <div class="col-sm-3 col-xs-3" > {{_( "كود العميل")}} :</div>
        <div class="col-sm-3 col-xs-3" >
           {{ doc.customer }}
        </div>
      
    </div>

    <div class="row mt-1">
        <div class="col-sm-3 col-xs-3" style="text-align: center;"> {{_(" أسم العميل")}} :</div>
        <div class="col-sm-3 col-xs-3" style="text-align: center;">
          {{ doc.customer_name }} 
        </div>

        <div class="col-sm-3 col-xs-3" > {{_( "أسم المندوب")}} :</div>
        <div class="col-sm-3 col-xs-3" >
            
                 {% if doc.sales_team%}
                {{ doc.sales_team[0].sales_person or '' }}
                {%else%}
                {{_("None")}}
                {%endif%}  
          </div>
    </div>

    <div class="row mt-1">
        <div class="col-sm-3 col-xs-3" style="text-align: center;"> {{_("  العميل")}} :</div>
        <div class="col-sm-9 col-xs-9" style="text-align: right;">
          {{ doc.customer_address or "" }} 
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-3 col-xs-3" style="text-align: center;"> {{_("  طريقة السداد")}} :</div>
        <div class="col-sm-9 col-xs-9" style="text-align: right;">
          {{ doc.payment_terms_template or "" }} 
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-sm-3 col-xs-3" style="text-align: center;"> {{_(" ملاحظات ")}} :</div>
        <div class="col-sm-9 col-xs-9" style="text-align: right;">
          {{ doc.remarks or "" }} 
        </div>
    </div>

    <!-- items -->
    <div class="row mt-1">
        <div class=" col-sm-12 col-xs-12 margin-top margin-bottom" >
            <table class="table table-bordered table-condensed">
                <tr>
                    <th style="width:5%">م</th>
                    <th style="width:20%" >كود الصنف</th>
                    <th style="width:40%"> اسم الصنف</th>
                    <th style="width:13%"> الكميه</th>
                    <th style="width:7%"> السعر</th>
                    <th style="width:15%">الأجمالى</th>
                </tr>
                {% for item in doc.items %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item.item_code }}</td>
                    <td>{{ item.item_name }}</td>
                    <td>{{ item.uom}} {{"_ " }}  {{ item.qty}}</td>
                    <td>{{ item.rate or 0}}</td>
                    <td>{{ item.amount }}</td>
                </tr>
                {% endfor %}
                 <tr>
                    <td colspan="3" style="border-bottom-style: hidden;border-right-style: hidden;"></td>
                    <td colspan="1" style="border-bottom-style: hidden;border-right-style: hidden;">الأجمالى</td>
                    <th colspan="2" style="text-align: center;" >{{ doc.total }}</th>
                </tr>
                <tr>
                    <td colspan="3" style="border-bottom-style: hidden;border-right-style: hidden;"></td>
                    <td colspan="1" style="border-bottom-style: hidden;border-right-style: hidden;">الخصم</td>
                    <td colspan="2" style="text-align: center;" >{{ doc.discount_amount }}</td>
                </tr>
                <tr>
                    <td colspan="3" style="border-top-style: hidden;border-bottom-style: hidden;border-right-style: hidden;"></td>
                    <td colspan="1" style="border-top-style: hidden;border-bottom-style: hidden;border-right-style: hidden;">صافى القيمة</td>
                    <td colspan="2" style="text-align: center;">{{ doc.grand_total }}</td>
                </tr>
                <!--<tr>
                    <td colspan="5" rowspan="3"><u> <strong> المبلغ بالحروف</strong> :- <strong>{{
                                frappe.utils.money_in_words(doc.grand_total,doc.currency) }}</strong></u></td>
                    <td>أجمالي الضريبه</td>
                    <td>{{ doc.total_taxes_and_charges }}</td>
                </tr>
                <tr>
                    <td>أجمالي الخصم</td>
                    <td>{{ doc.discount_amount }}</td>
                </tr>
                <tr>
                    <td>الأجمالى </td>
                    <td>{{ doc.grand_total }}</td>
                </tr> -->
            </table>
        </div>
        <!-- <div class="row margin-bottom" style="text-align: center;">
            <div class="col-xs-4">
                <h4>أمين المخزن</h4>
                <h4>.........................</h4>
                <br />
                <br />
                <h4>العميل</h4>
                <h4>.........................</h4>
            </div>
            <div class="col-xs-4">
                <h4>المندوب</h4>
                <h4>.........................</h4>
            </div>
            <div class="col-xs-4">
                <h4>ادارة المبيعات</h4>
                <h4>.........................</h4>
            </div>
    
        </div> -->
    
    
    </div>

    <div class="row">
        <div class="col-sm-11 col-xs-11" style="text-align: right;;border: solid 2px black;">
         {{_("فقط/ ")}} {{doc.base_in_words}}
        </div>
        <div class="col-sm-1 col-xs-1" style="text-align: center;"> </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-11 col-xs-11" style="text-align: right;">
         {{_("أستلمت أنا البضاعة بعالية بحالة جيدة وصالحة للبيع وأقر أننى ملتزم بسداد قيمة البضاعة أو ارتجاعها وهذا اقرار مني بذلك. ")}}
        </div>
        <div class="col-sm-1 col-xs-1" style="text-align: center;"> </div>
    </div>

    <div class="row mt-2" style="text-align: center;">
        <div class="col-sm-4 col-xs-4" style="text-align: center;">
            {{_("المستلم")}}
        </div>

        <div class="col-sm-4 col-xs-4" style="text-align: center;">
            {{_("التوقيع")}}

        </div>

        <div class="col-sm-4 col-xs-4" style="text-align: center;">
            {{_("التاريخ")}}
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-4 col-xs-4" style="text-align: center;">
            {{"......" * 8}}
        </div>

        <div class="col-sm-4 col-xs-4" style="text-align: center;">
            {{"......" * 8}}

        </div>

        <div class="col-sm-4 col-xs-4" style="text-align: center;">
            {{"......" * 8}}
        </div>
    </div>
  
</div>